.add-screen {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.add-screen h2 {
  color: #0A89A7;
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 47%;
}

@media (max-width: 480px) {
  .add-screen {
    width: 100%;
    padding: 0;
  }
}