.recurring-screen {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.recurring-screen h2 {
  color: #0A89A7;
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 47%;
}

.recurring-header {
  display: flex;
  margin: 5px;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  background-color: #f8f9fa;
}

.recurring-row {
  display: flex;
  margin: 5px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s ease;
}

.recurring-row:hover {
  background-color: #f8f9fa;
}

.recurring-title {
  flex: 1.3;
  font-weight: bold;
  padding: 0 5px;
}

.recurring-total {
  flex: 0.8;
  /* font-weight: bold; */
  text-align: left;
  padding: 0 5px;
}

.recurring-actions {
  /* position: absolute; */
  /* top: 15px; */
  /* right: 3px; */
  /* z-index: 2; */
  flex: 0.8;
  font-weight: bold;
  text-align: left;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  /* flex:0.2 */
}

.recurring-action-button {
  margin-left: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.recurring-create-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

@media (max-width: 768px) {
  .recurring-header,
  .recurring-row {
    font-size: 14px;
  }
  
  .recurring-title {
    flex: 1.5;
  }
  
  .recurring-total {
    flex: 0.7;
  }
}


@media (max-width: 480px) {
  .recurring-screen {
    width: 100%;
    padding: 0;
  }
}