.recurring-screen {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.recurring-screen h2 {
  color: #0A89A7;
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px;
}

.recurring-box {
  width: 60%;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  z-index: 10;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 10px;
  /* padding: 10px; */
}

.recurring-box-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.recurring-box-title {
  flex: 1;
  border-radius: 8px 8px 0px 0;
  padding: 5px;
  padding-left: 15px;
  font-weight: bold;
  background-color: #0A89A7;
  color: white;
}

.recurring-box-next-date {
  flex: 1;
}

.recurring-box-desc {
  flex: 1;
}

.recurring-box-amount {
  flex:1;
  font-weight: bold;
}

.recurring-box-freq {
  flex: 1;
}

.recurring-box-category {
  flex: 1;
}

.recurring-box-user {
  flex: 1;
}

.recurring-box-action-button {
  flex: 1;
  margin-bottom: 10px;
}

.recurring-create-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
}


@media (max-width: 480px) {
  .recurring-screen {
    width: 100%;
    padding: 0;
  }
}