.month-difference {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  padding: 4px 0;
}

.month-name {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
}

.month-income {
  flex: 1;
  font-size: 14px;
  text-align: center;
}

.month-expense {
  flex: 1;
  font-size: 14px;
  text-align: center;
}

.month-saving {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
