.year-difference {
  padding: 10px 5px;
  margin: 4px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.year-title {
  font-size: 20px;
  font-weight: bold;
  color: steelblue;
  text-align: center;
  margin-bottom: 10px;
}

.header-row {
  display: flex;
  flex-direction: row;
  margin: 0 8px 8px 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #bbb;
}

.header-month {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  color: steelblue;
}

.header-income {
  flex: 1;
  font-weight: bold;
  color: steelblue;
  font-size: 14px;
  text-align: center;
}

.header-expense {
  flex: 1;
  font-weight: bold;
  font-size: 14px;
  color: steelblue;
  text-align: center;
}

.header-saving {
  flex: 1;
  font-weight: bold;
  font-size: 14px;
  color: steelblue;
  text-align: center;
}

.months-container {
  margin: 0 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #bbb;
}

.year-total {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.year-total-title {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
}

.year-total-income {
  flex: 1;
  font-size: 14px;
}

.year-total-expense {
  flex: 1;
  font-size: 14px;
}

.year-total-saving {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
}
